*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #CAD5E2;
    color: rgb(88, 88, 88);
}
html,body{
    height: 100%;
    width: 100%;
    font-family:'Raleway',sans-serif;
    perspective: 1px;
    transform-style: preserve-3d;
}
header{
    height:100vh;
    position: relative;
    display: flex;
}
.cover{
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    top: 0;
    right: 0;
    object-position: top;
     
}
.nav-images img{
     height:250px;
}
nav{
    background-color: #CAD5E2;
    z-index: 2;
    width: 40%;
    height: 10%;
    color: white;
    overflow: hidden ;
}    
.nav-closed{
     display: flex;
     justify-content: space-around;  
     align-items: center;
     height: 10%;
     width: 40%;
     position: absolute;
}
.nav-closed ul{
    display: flex;
    width: 50%;
    justify-content: space-around;
    list-style:none;
}
.nav-open{
     position: absolute;
     width: 40%;
     height: 80%;
     top: 20%;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
     opacity: 0;
     pointer-events: none;
      
}
.clothing {
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.clothing h2{
    font-size: 30px;

}
.clothing ul li{
    padding-bottom:20px;
    
} 
.clothing ul li a{
    text-decoration:none;
    color:black;
    font-size: 14px;
} 
.clothing ul{
    list-style:none;
} 
.nav-images{
    display: flex;
    justify-content:space-around;
    width:100%
}
.nav-links li{
    cursor: pointer;
    font-weight: bold;
}
.heading {
    text-align: center;

    padding: 1rem 0;
    margin-top: 50px;
    font-size: 40px;
    font-weight: bold; 
}
.sub-heading{
    font-size: 25px;
    color: black;
    text-align: left;
    padding: 1rem 5rem;
    font-weight: bold; 
}
.content{
    text-align: left;
    justify-content: center;
    padding: 1rem 5rem;    
    
}


.content1{
    padding: 0 130px;
    padding-top: 100px;
    display: block;

}
.content1 h1{
    font-size: 50px;
}
.sp-robots{
    width: 60%;
    padding: 2rem 0;
}
.blog h1{
    font-size: 50px;
}
footer{
    padding:30px 120px;
    background-color:rgb(54, 54, 54);
    text-align: right;
}
footer h1{
    font-family: 'Caveat', cursive;
    background-color:rgb(54, 54, 54);
    font-size: 50px;
}
.bg{
    background: url('img/bg1.png') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
    margin-top: 50px;
}
.flx{
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.arm-img{
    max-width: 22rem;
    border-radius: 20px;
    
}
.flx div h1{
    color: black;
    padding: 20px 0;
}
.blog{
    width: 30rem;
}
